---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import VpnSwitch from '../components/VpnSwitch.astro';
import Collapse from '../components/Collapse.astro';
import Feature from '../components/Feature.astro';
---

<Layout title="VPNation.ru">
<main>
<Hero />
<Feature slug="unblock" title="Обход блокировок" pic="https://proline-nm.ru/images/2021/05/04/2da99623366fafdacfcd0df70df6ba7e.png">
    Доступ к заблокированным ресурсам производится через серверы в Европе и США.
    Вы получите доступ как к ресурсам которые заблокированы в вашей стране, так и к сервисам, которые сами закрыли доступ для пользователей из вашей страны (Например: Spotify, Canva, Upwork, Vinted.fr)

</Feature>

<Feature slug="smartrouting" title="Маршрутизация" pic="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/7b366792561937.5e4e39ef183ee.jpg">
    В Базовом врианте гибкая маршрутизация позволяет нашим пользователям получать доступ к российским сервисам максимально быстро,
    сохранив при этом возможность доступа к заблокированным ресурсам. Также возможна индивидуальная настройка туннеля под ваши требования. К примеру пользователям которым необходимо получить доступ к французскому маркетплейсу, мы предлагаем постоянный IP адрес во Франции.
</Feature>

<Feature slug="adblock" title="Блокировка рекламы" pic="https://techcrunch.com/wp-content/uploads/2016/11/laptop-adblock.png">
 Блокировщик по умолчанию встроен в наш VPN. Он блокирует рекламные окна на сайтах, в приложениях, а также в видеосервисах.
</Feature>

<Feature slug="pricing" title="Доступные тарифы" pic="https://d1h69ey09xg1xv.cloudfront.net/wp-content/uploads/2015/07/online-shopping-ecommerce-ss-1920.png">
    <ul>
        <li>1 месяц - 300р</li>
        <li>2 месяца - 500р</li>
        <li>3 месяца - 650р</li>
    </ul>
</Feature>
    <!-- <Collapse >
<p slot='title' >Умная маршрутизация</p>
<p>
    Базовый вариант: основной трафик не выходит за пределы РФ, поэтому российские сервисы с нашим VPN работают как обычно и быстрее чем через обычныйVPN. Трафик до заблокированных ресурсов идет через европейские сервера. Доступно также полное туннелирование трафика на случай если блокировка установлена не со стороны Роскомнадзора а сервис со своей стороны сам фильтрует пользователей из РФ. Возможен выбор сервера в определенном регионе(обсуждается с администратором, доступность подключения через определенный регион постоянно меняется)
</p>
</Collapse> -->
<!-- <VpnSwitch /> -->
</main>
</Layout>

