<div tabindex="0" class="collapse collapse-plus border border-base-300 bg-base-100 rounded-box max-w-2xl mx-auto">
    <div class="collapse-title text-xl font-medium">
      <slot name="title"/>
    </div>
    <div class="collapse-content"> 
      <slot />
    </div>
  </div>