---
import { Icon } from 'astro-icon'

---
<div class="z-10 bg-opacity-[0.75] navbar bg-base-200 fixed">
    <div class="flex-1">
      <a href="/#intro" class="btn btn-ghost normal-case text-xl"><Icon name="mdi:home" width="36"/></a>
      <a href="#"><Icon name="ic:baseline-install-mobile" width="28"/></a>
    </div>
    <div class="flex-none">
      <a href="https://helicoder.t.me/"target="_blank" rel="noopener noreferrer"><button class="btn btn-ghost">Написать администратору</button></a>
    </div>
  </div>