<div>
  <div class="flex justify-center">
    <div class="mockup-phone border-primary">
      <div class="camera"></div>
      <div class="display">
        <div class="artboard artboard-demo phone-1">
          <div class="flex justify-around space-x-24">
            <h3 class="">VPNation</h3>
            <input type="checkbox" class="toggle toggle-success" checked />
          </div>
          <div><h3>Умный VPN</h3></div>
        </div>
      </div>
    </div>
  </div>
</div>